table.js-fixed-header{
  table-layout: fixed;
  background-color: white;
  margin: 0;

  &.js-fixed-header-type-css-fixed{
    position: fixed !important;
  }

  &.js-fixed-header-type-js-fixed{
    position: absolute !important;
  }
  tr th{
    box-sizing: border-box;
  }
}